@font-face {
  font-family: "Poppins-Bold";
  src: url(../../assets/font/Poppins-SemiBold.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$white: #ffffff;
$azure: #0b3954;
$grey: #333333;
$light_grey: #f5f5f5;
$dark_white: #a9a9a9;
$orange: #ffb128;
$blue: #1389bc;

@keyframes animateMenu {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}

@keyframes topAnimation {
  0% {
    top: 100px;
  }
  100% {
    top: 79.5px;
  }
}

body {
  overflow-x: hidden;
}

// HEADER ============================================

header {
  @include displayCenter(center, center);
  flex-direction: column;
  width: 100vw;
  padding: 1px 42px;
  background-color: $white;

  // HEADER CONTAINER ============================================

  .header_container {
    @include displayCenter(space-between, center);
    width: 100%;
    max-width: 1220px;
    margin: 30px auto 10px auto;
    .logo {
      width: clamp(170px, 68vw, 240px);
      height: clamp(28.75px, 7vw, 43.13px);
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }

    // SEARCH CONTAINER ============================================

    .search_container {
      @include displayCenter(center, center);
      position: relative;
      width: 100%;
      max-width: 620px;
      height: 45px;
      margin: 0 72.18px;
      border-radius: 6px;
      input {
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 40px;
        color: $azure;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: $light_grey;
        border-radius: 6px;
      }
      .search_icon {
        position: absolute;
        width: 16.38px;
        height: 16px;
        left: 14px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      #close_search_button {
        display: none;
      }
    }

    // USER CONTAINER ============================================

    .user_container {
      @include displayCenter(center, center);
      gap: 14.83px;
      #cart_container {
        @include displayCenter(center, center);
        position: relative;
        cursor: pointer;
        .cart_icon {
          @include displayCenter(center, center);
          width: 20px;
          height: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        #cart_number {
          @include displayCenter(center, center);
          position: absolute;
          width: 18px;
          height: 17px;
          top: -11px;
          left: 12px;
          padding: 3px 5.55px 3px 5.53px;
          border-radius: 18px;
          background-color: $grey;
          font-size: 11px;
          color: $white;
        }
      }
      #user_balance {
        font-family: "Poppins-Bold";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        color: $azure;
        cursor: pointer;
      }
      #favorite_items {
        @include displayCenter(center, center);
        position: relative;
        cursor: pointer;
        .favorite_icon {
          @include displayCenter(center, center);
          width: 20px;
          height: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        #favorite_item_number {
          @include displayCenter(center, center);
          position: absolute;
          width: 18px;
          height: 17px;
          top: -11px;
          left: 12px;
          padding: 3px 5.55px 3px 5.53px;
          border-radius: 18px;
          background-color: $grey;
          font-size: 11px;
          color: $white;
        }
      }
      #user {
        @include displayCenter(center, center);
        width: 20px;
        height: 20px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      #burger_menu {
        // @include displayCenter(center, center);
        display: none;
        width: 35px;
        height: 20px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      #res_search {
        display: none;
        width: 35px;
        height: 20px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  nav {
    @include displayCenter(center, center);
    position: relative;
    width: 100%;
    max-width: 1220px;
    // .shadow_background {
    //   position: absolute;
    //   bottom: 0px;
    //   width: 100vw;
    //   height: 50vh;
    //   background-color: rgba(102, 51, 153, 0.167);
    // }
    ul {
      @include displayCenter(center, center);
      width: 100%;
      list-style: none;
      #close_button {
        // @include displayCenter(center, center);
        display: none;
        width: max-content;
        height: max-content;
        cursor: pointer;
        // i {
        //   font-size: 14px;
        //   color: $azure;
        // }
      }
      li {
        @include displayCenter(center, center);
        flex-direction: column;
        gap: 20px;
        width: clamp(128.53px, 90vw, 175.19px);
        border-left: 1px solid $light_grey;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0%;
        padding: 6px;
        cursor: pointer;
        img {
          width: 32px;
          height: 32px;
        }
        a {
          text-decoration: none;
          color: $azure;
        }
        i {
          color: $azure;
        }
        &:hover:not(.sales) {
          a {
            color: $orange;
            transition: 0.2s ease-in-out;
          }
          i {
            color: $orange;
            transition: 0.2s ease-in-out;
          }
        }
      }
      .chairs {
        position: relative;
        border: none;
        .hover_container {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 79.5px;
          left: 0px;
          // width: 700px;
          width: clamp(300px, 47vw, 700px);
          height: max-content;
          background-color: $white;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          .hover_container_sections {
            @include displayCenter(center, center);
            flex-direction: column;
            width: 40%;
            padding: 25px 20px;
            // background-color: $white;
            .item_hover {
              @include displayCenter(space-between, center);
              border-left: none;
              border-bottom: 1px solid $light_grey;
              width: 100%;
              padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
              a {
                text-transform: uppercase;
                color: $azure;
                font-size: 16px;
              }
              i {
                color: $light_grey;
              }
              &:hover {
                a {
                  color: $orange;
                }
                i {
                  color: $orange;
                }
              }
            }
          }
        }
        .recomend_product_container {
          @include displayCenter(flex-start, flex-start);
          flex-direction: column;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 60%;
          height: 100%;
          background-color: $orange;
          // background-color: $light_grey;
          border-bottom-right-radius: 16px;
          .we_recomended {
            margin: 30px 0px 25px 25px;
            color: $blue;
            font-size: 14px;
            line-height: 18px;
          }
          .recomended_item {
            width: 75%;
            margin-left: 25px;
            h2 {
              color: $azure;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 26px;
              font-weight: 500;
            }
            p {
              font-size: clamp(14px, 2vw, 16px);
              line-height: 26px;
              color: #a9a9a9;
            }
          }
          .recomended_item_price {
            margin: 30px 25px;
            color: $azure;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
          }
          img {
            position: absolute;
            bottom: clamp(10px, 3vh, 30px);
            right: -70px;
            width: clamp(150px, 15vw, 200px);
            height: clamp(150px, 15vw, 200px);
          }
        }
        &:hover {
          .hover_container {
            @include displayCenter(space-between, flex-start);
            animation: topAnimation 0.3s linear;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .beds {
        position: relative;
        border: none;
        .hover_container {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 79.5px;
          left: 0px;
          // width: 700px;
          width: clamp(300px, 47vw, 700px);
          height: max-content;
          background-color: $white;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          .hover_container_sections {
            @include displayCenter(center, center);
            flex-direction: column;
            width: 40%;
            padding: 25px 20px;
            // background-color: $white;
            .item_hover {
              @include displayCenter(space-between, center);
              border-left: none;
              border-bottom: 1px solid $light_grey;
              width: 100%;
              // padding: 15px 10px;
              padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
              padding-bottom: clamp(10px, 2vw, 20px);
              a {
                text-transform: uppercase;
                color: $azure;
              }
              i {
                color: $light_grey;
              }
              &:hover {
                a {
                  color: $orange;
                }
                i {
                  color: $orange;
                }
              }
            }
          }
        }
        .recomend_product_container {
          @include displayCenter(flex-start, flex-start);
          flex-direction: column;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 60%;
          height: 100%;
          background-color: $orange;
          // background-color: $light_grey;
          border-bottom-right-radius: 16px;
          .we_recomended {
            margin: 30px 0px 25px 25px;
            color: $blue;
            font-size: 14px;
            line-height: 18px;
          }
          .recomended_item {
            width: 75%;
            margin-left: 25px;
            h2 {
              color: $azure;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 26px;
              font-weight: 500;
            }
            p {
              font-size: clamp(14px, 2vw, 16px);
              line-height: 26px;
              color: #a9a9a9;
            }
          }
          .recomended_item_price {
            margin: 30px 25px;
            color: $azure;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
          }
          img {
            position: absolute;
            bottom: clamp(10px, 2vw, 30px);
            right: -100px;
            // width: 350px;
            width: clamp(150px, 30vw, 350px);
            height: 130px;
          }
        }
        &:hover {
          .hover_container {
            @include displayCenter(space-between, flex-start);
            animation: topAnimation 0.3s linear;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .tables {
        position: relative;
        border: none;
        .hover_container {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 79.5px;
          left: 0px;
          // width: 700px;
          width: clamp(300px, 47vw, 700px);
          height: max-content;
          background-color: $white;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          .hover_container_sections {
            @include displayCenter(center, center);
            flex-direction: column;
            width: 40%;
            padding: 25px 20px;
            // background-color: $white;
            .item_hover {
              @include displayCenter(space-between, center);
              border-left: none;
              border-bottom: 1px solid $light_grey;
              width: 100%;
              // padding: 15px 10px;
              padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
              padding-bottom: clamp(10px, 2vw, 20px);
              a {
                text-transform: uppercase;
                color: $azure;
              }
              i {
                color: $light_grey;
              }
              &:hover {
                a {
                  color: $orange;
                }
                i {
                  color: $orange;
                }
              }
            }
          }
        }
        .recomend_product_container {
          @include displayCenter(flex-start, flex-start);
          flex-direction: column;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 60%;
          height: 100%;
          background-color: $orange;
          // background-color: $light_grey;
          border-bottom-right-radius: 16px;
          .we_recomended {
            margin: 30px 0px 25px 25px;
            color: $blue;
            font-size: 14px;
            line-height: 18px;
          }
          .recomended_item {
            width: 75%;
            margin-left: 25px;
            h2 {
              color: $azure;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 26px;
              font-weight: 500;
            }
            p {
              font-size: clamp(14px, 2vw, 16px);
              line-height: 26px;
              color: #a9a9a9;
            }
          }
          .recomended_item_price {
            margin: 30px 25px;
            color: $azure;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
          }
          img {
            position: absolute;
            bottom: 30px;
            right: -95px;
            width: 200px;
            height: 150px;
          }
        }
        &:hover {
          .hover_container {
            @include displayCenter(space-between, flex-start);
            animation: topAnimation 0.3s linear;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .desks {
        position: relative;
        border: none;
        .hover_container {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 79.5px;
          left: 0px;
          // width: 700px;
          width: clamp(300px, 47vw, 700px);
          height: max-content;
          background-color: $white;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          .hover_container_sections {
            @include displayCenter(center, center);
            flex-direction: column;
            width: 40%;
            padding: 25px 20px;
            // background-color: $white;
            .item_hover {
              @include displayCenter(space-between, center);
              border-left: none;
              border-bottom: 1px solid $light_grey;
              width: 100%;
              // padding: 15px 10px;
              padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
              padding-bottom: clamp(10px, 2vw, 20px);
              padding-left: 10px;
              padding-right: 10px;
              a {
                text-transform: uppercase;
                color: $azure;
              }
              i {
                color: $light_grey;
              }
              &:hover {
                a {
                  color: $orange;
                }
                i {
                  color: $orange;
                }
              }
            }
          }
        }
        .recomend_product_container {
          @include displayCenter(flex-start, flex-start);
          flex-direction: column;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 60%;
          height: 100%;
          background-color: $orange;
          // background-color: $light_grey;
          border-bottom-right-radius: 16px;
          .we_recomended {
            margin: 30px 0px 25px 25px;
            color: $blue;
            font-size: 14px;
            line-height: 18px;
          }
          .recomended_item {
            width: 75%;
            margin-left: 25px;
            h2 {
              color: $azure;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 26px;
              font-weight: 500;
            }
            p {
              font-size: clamp(14px, 2vw, 16px);
              line-height: 26px;
              color: #a9a9a9;
            }
          }
          .recomended_item_price {
            margin: 30px 25px;
            color: $azure;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
          }
          img {
            position: absolute;
            bottom: 30px;
            right: -90px;
            width: clamp(170px, 15vw, 220px);
            height: clamp(90px, 10vh, 100px);
          }
        }
        &:hover {
          .hover_container {
            @include displayCenter(space-between, flex-start);
            animation: topAnimation 0.3s linear;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .cabinets {
        position: relative;
        border: none;
        .hover_container {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 79.5px;
          right: 0px;
          // width: 700px;
          width: clamp(300px, 47vw, 700px);
          height: max-content;
          background-color: $white;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          .hover_container_sections {
            @include displayCenter(center, center);
            flex-direction: column;
            width: 40%;
            padding: 25px 20px;
            // background-color: $white;
            .item_hover {
              @include displayCenter(space-between, center);
              border-left: none;
              border-bottom: 1px solid $light_grey;
              width: 100%;
              // padding: 15px 10px;
              padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
              padding-bottom: clamp(10px, 2vw, 20px);
              a {
                text-transform: uppercase;
                color: $azure;
              }
              i {
                color: $light_grey;
              }
              &:hover {
                a {
                  color: $orange;
                }
                i {
                  color: $orange;
                }
              }
            }
          }
        }
        .recomend_product_container {
          @include displayCenter(flex-start, flex-start);
          flex-direction: column;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 60%;
          height: 100%;
          background-color: $orange;
          // background-color: $light_grey;
          border-bottom-right-radius: 16px;
          .we_recomended {
            margin: 30px 0px 25px 25px;
            color: $blue;
            font-size: 14px;
            line-height: 18px;
          }
          .recomended_item {
            width: 75%;
            margin-left: 25px;
            h2 {
              color: $azure;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 26px;
              font-weight: 500;
            }
            p {
              font-size: clamp(14px, 2vw, 16px);
              line-height: 26px;
              color: #a9a9a9;
            }
          }
          .recomended_item_price {
            margin: 30px 25px;
            color: $azure;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
          }
          img {
            position: absolute;
            bottom: 30px;
            right: -92px;
            width: clamp(150px, 15vw, 200px);
            height: clamp(100px, 10vh, 150px);
          }
        }
        &:hover {
          .hover_container {
            @include displayCenter(space-between, flex-start);
            animation: topAnimation 0.3s linear;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .lighting {
        position: relative;
        border: none;
        .hover_container {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 79.5px;
          right: 0px;
          // width: 700px;
          width: clamp(300px, 47vw, 700px);
          height: max-content;
          background-color: $white;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          .hover_container_sections {
            @include displayCenter(center, center);
            flex-direction: column;
            width: 40%;
            padding: 25px 20px;
            // background-color: $white;
            .item_hover {
              @include displayCenter(space-between, center);
              border-left: none;
              border-bottom: 1px solid $light_grey;
              width: 100%;
              // padding: 15px 10px;
              padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
              padding-bottom: clamp(10px, 2vw, 20px);
              a {
                text-transform: uppercase;
                color: $azure;
              }
              i {
                color: $light_grey;
              }
              &:hover {
                a {
                  color: $orange;
                }
                i {
                  color: $orange;
                }
              }
            }
          }
        }
        .recomend_product_container {
          @include displayCenter(flex-start, flex-start);
          flex-direction: column;
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 60%;
          height: 100%;
          background-color: $orange;
          // background-color: $light_grey;
          border-bottom-right-radius: 16px;
          .we_recomended {
            margin: 30px 0px 25px 25px;
            color: $blue;
            font-size: 14px;
            line-height: 18px;
          }
          .recomended_item {
            width: 75%;
            margin-left: 25px;
            h2 {
              color: $azure;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 26px;
              font-weight: 500;
            }
            p {
              font-size: clamp(14px, 2vw, 16px);
              line-height: 26px;
              color: #a9a9a9;
            }
          }
          .recomended_item_price {
            margin: 30px 25px;
            color: $azure;
            font-size: 20px;
            line-height: 26px;
            font-weight: 500;
          }
          img {
            position: absolute;
            bottom: 30px;
            right: -90px;
            width: 210px;
            height: 150px;
          }
        }
        &:hover {
          .hover_container {
            @include displayCenter(space-between, flex-start);
            animation: topAnimation 0.3s linear;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .sales {
        padding-top: 15px;
        padding-bottom: 10px;
        gap: 10px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border: none;
        background-color: $orange;
        img {
          width: 23px;
          height: 20px;
        }
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;
          color: $white;
        }
        &:hover {
          background-color: $azure;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

// RESPONSIVE ============================================

@media screen and (max-width: 1440px) {
  header {
    nav {
      ul {
        .chairs {
          .hover_container {
            .hover_container_sections {
              .item_hover {
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }

        .beds {
          .hover_container {
            .hover_container_sections {
              .item_hover {
                a {
                  font-size: 12px;
                }
              }
            }
            .recomend_product_container {
              img {
                right: -150px;
                height: 120px;
              }
            }
          }
        }
        .tables {
          .hover_container {
            .hover_container_sections {
              .item_hover {
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .desks {
          .hover_container {
            .hover_container_sections {
              .item_hover {
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .cabinets {
          .hover_container {
            .hover_container_sections {
              .item_hover {
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .lighting {
          .hover_container {
            .hover_container_sections {
              .item_hover {
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  header {
    position: fixed;
    top: 0px;
    .header_container {
      .search_container {
        margin: 0 5px;
      }
      .user_container {
        #burger_menu {
          @include displayCenter(center, center);
        }
      }
    }
    nav {
      position: absolute;
      top: 0px;
      right: 0px;
      ul {
        display: none;
        &.active {
          @include displayCenter(flex-start, flex-start);
          z-index: 99;
          position: absolute;
          flex-direction: column;
          background-color: $white;
          width: 200px;
          animation: animateMenu 0.5s linear;
          height: 100vh;
          top: 0px;
          right: 0px;
          padding-top: 50px;
          #close_button {
            @include displayCenter(center, center);
            position: absolute;
            top: 20px;
            right: 15px;
            i {
              font-size: 14px;
              color: $dark_white;
              transition: color 0.4s ease-in-out, transform 0.4s ease-in-out,
                scale 0.4s ease-in-out;
              &:hover {
                color: $azure;
                transform: rotate(180deg) scale(1.4);
              }
            }
          }
          li {
            @include displayCenter(flex-start, center);
            gap: 5px;
            flex-direction: row;
            border: none;
            span {
              .fa-arrow-down {
                display: none;
              }
            }
          }
          .chairs,
          .beds,
          .tables,
          .desks,
          .cabinets,
          .lighting {
            .hover_container {
              display: none;
            }
          }
          .sales {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0px;
    .header_container {
      .search_container {
        display: none;
        &.active_search {
          @include displayCenter(center, center);
          position: absolute;
          top: 50vh;
          left: 50%;
          transform: translate(-50%);
          width: 80%;
          height: 40px;
          input{
          background-color: $white;
          }
          #close_search_button {
            @include displayCenter(center, center);
            position: absolute;
            right: 14px;
            cursor: pointer;
            i {
              font-size: 14px;
              color: $dark_white;
              transition: color 0.4s ease-in-out, transform 0.4s ease-in-out,
                scale 0.4s ease-in-out;
              &:hover {
                color: $azure;
                transform: rotate(180deg) scale(1.4);
              }
            }
          }
        }
      }
      .user_container {
        #cart_container {
          display: none;
        }
        #user_balance {
          display: none;
        }
        #favorite_items {
          display: none;
        }
        #user {
          display: none;
        }
        #res_search {
          @include displayCenter(center, center);
        }
      }
    }
  }
}
