@font-face {
  font-family: "Poppins-Bold";
  src: url(../../assets/font/Poppins-SemiBold.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$white: #ffffff;
$azure: #0b3954;
$grey: #333333;
$light_grey: #f5f5f5;

// HEADER ============================================

header {
  @include displayCenter(center, center);
  width: 100vw;
  padding: 1px 42px;

  // HEADER CONTAINER ============================================

  .header_container {
    @include displayCenter(space-between, center);
    width: 100%;
    max-width: 1220px;
    margin: 30px auto 10px auto;
    .logo {
      width: 300px;
      height: 43.13px;
      cursor: pointer;
      &img {
        width: 100%;
      }
    }

    // SEARCH CONTAINER ============================================

    .search_container {
      @include displayCenter(center, center);
      position: relative;
      width: 100%;
      max-width: 620px;
      height: 45px;
      margin: 0 72.18px;
      border-radius: 6px;
      input {
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 40px;
        color: $azure;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: $light_grey;
        border-radius: 6px;
      }
      .search_icon {
        position: absolute;
        width: 16.38px;
        height: 16px;
        left: 14px;
        cursor: pointer;
        &img {
          width: 100%;
          height: 100%;
        }
      }
    }

    // USER CONTAINER ============================================

    .user_container {
      @include displayCenter(center, center);
      gap: 14.83px;
      .cart_container {
        @include displayCenter(center, center);
        position: relative;
        cursor: pointer;
        .cart_icon {
          @include displayCenter(center, center);
          width: 20px;
          height: 20px;
          &img {
            width: 100%;
            height: 100%;
          }
        }
        .cart_number {
          @include displayCenter(center, center);
          position: absolute;
          width: 18px;
          height: 17px;
          top: -11px;
          left: 12px;
          padding: 3px 5.55px 3px 5.53px;
          border-radius: 18px;
          background-color: $grey;
          font-size: 11px;
          color: $white;
        }
      }
      .user_balance {
        font-family: "Poppins-Bold";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        color: $azure;
        cursor: pointer;
      }
      .favorite_items {
        @include displayCenter(center, center);
        position: relative;
        cursor: pointer;
        .favorite_icon {
          @include displayCenter(center, center);
          width: 20px;
          height: 20px;
          &img {
            width: 100%;
            height: 100%;
          }
        }
        .favorite_item_number {
          @include displayCenter(center, center);
          position: absolute;
          width: 18px;
          height: 17px;
          top: -11px;
          left: 12px;
          padding: 3px 5.55px 3px 5.53px;
          border-radius: 18px;
          background-color: $grey;
          font-size: 11px;
          color: $white;
        }
      }
      .user {
        @include displayCenter(center, center);
        width: 20px;
        height: 20px;
        cursor: pointer;
        &img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// RESPONSIVE ============================================

@media screen and (max-width: 1023px) {
  header {
    .header_container {
      .search_container {
        margin: 0 5px;
      }
    }
  }
}
