@font-face {
  font-family: "Poppins-Bold";
  src: url(../../assets/font/Poppins-SemiBold.ttf) format("woff2");
}
@keyframes animateMenu {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}
@keyframes topAnimation {
  0% {
    top: 100px;
  }
  100% {
    top: 79.5px;
  }
}
body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 1px 42px;
  background-color: #ffffff;
}
header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  margin: 30px auto 10px auto;
}
header .header_container .logo {
  width: clamp(170px, 68vw, 240px);
  height: clamp(28.75px, 7vw, 43.13px);
  cursor: pointer;
}
header .header_container .logo img {
  width: 100%;
  height: 100%;
}
header .header_container .search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 620px;
  height: 45px;
  margin: 0 72.18px;
  border-radius: 6px;
}
header .header_container .search_container input {
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 40px;
  color: #0b3954;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 6px;
}
header .header_container .search_container .search_icon {
  position: absolute;
  width: 16.38px;
  height: 16px;
  left: 14px;
  cursor: pointer;
}
header .header_container .search_container .search_icon img {
  width: 100%;
  height: 100%;
}
header .header_container .search_container #close_search_button {
  display: none;
}
header .header_container .user_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14.83px;
}
header .header_container .user_container #cart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
header .header_container .user_container #cart_container .cart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
header .header_container .user_container #cart_container .cart_icon img {
  width: 100%;
  height: 100%;
}
header .header_container .user_container #cart_container #cart_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 17px;
  top: -11px;
  left: 12px;
  padding: 3px 5.55px 3px 5.53px;
  border-radius: 18px;
  background-color: #333333;
  font-size: 11px;
  color: #ffffff;
}
header .header_container .user_container #user_balance {
  font-family: "Poppins-Bold";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  color: #0b3954;
  cursor: pointer;
}
header .header_container .user_container #favorite_items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
header .header_container .user_container #favorite_items .favorite_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
header .header_container .user_container #favorite_items .favorite_icon img {
  width: 100%;
  height: 100%;
}
header .header_container .user_container #favorite_items #favorite_item_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 17px;
  top: -11px;
  left: 12px;
  padding: 3px 5.55px 3px 5.53px;
  border-radius: 18px;
  background-color: #333333;
  font-size: 11px;
  color: #ffffff;
}
header .header_container .user_container #user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .header_container .user_container #user img {
  width: 100%;
  height: 100%;
}
header .header_container .user_container #burger_menu {
  display: none;
  width: 35px;
  height: 20px;
  cursor: pointer;
}
header .header_container .user_container #burger_menu img {
  width: 100%;
  height: 100%;
}
header .header_container .user_container #res_search {
  display: none;
  width: 35px;
  height: 20px;
  cursor: pointer;
}
header .header_container .user_container #res_search img {
  width: 100%;
  height: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1220px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}
header nav ul #close_button {
  display: none;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: clamp(128.53px, 90vw, 175.19px);
  border-left: 1px solid #f5f5f5;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  padding: 6px;
  cursor: pointer;
}
header nav ul li img {
  width: 32px;
  height: 32px;
}
header nav ul li a {
  text-decoration: none;
  color: #0b3954;
}
header nav ul li i {
  color: #0b3954;
}
header nav ul li:hover:not(.sales) a {
  color: #ffb128;
  transition: 0.2s ease-in-out;
}
header nav ul li:hover:not(.sales) i {
  color: #ffb128;
  transition: 0.2s ease-in-out;
}
header nav ul .chairs {
  position: relative;
  border: none;
}
header nav ul .chairs .hover_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 79.5px;
  left: 0px;
  width: clamp(300px, 47vw, 700px);
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul .chairs .hover_container .hover_container_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 25px 20px;
}
header nav ul .chairs .hover_container .hover_container_sections .item_hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
}
header nav ul .chairs .hover_container .hover_container_sections .item_hover a {
  text-transform: uppercase;
  color: #0b3954;
  font-size: 16px;
}
header nav ul .chairs .hover_container .hover_container_sections .item_hover i {
  color: #f5f5f5;
}
header nav ul .chairs .hover_container .hover_container_sections .item_hover:hover a {
  color: #ffb128;
}
header nav ul .chairs .hover_container .hover_container_sections .item_hover:hover i {
  color: #ffb128;
}
header nav ul .chairs .recomend_product_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100%;
  background-color: #ffb128;
  border-bottom-right-radius: 16px;
}
header nav ul .chairs .recomend_product_container .we_recomended {
  margin: 30px 0px 25px 25px;
  color: #1389bc;
  font-size: 14px;
  line-height: 18px;
}
header nav ul .chairs .recomend_product_container .recomended_item {
  width: 75%;
  margin-left: 25px;
}
header nav ul .chairs .recomend_product_container .recomended_item h2 {
  color: #0b3954;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 26px;
  font-weight: 500;
}
header nav ul .chairs .recomend_product_container .recomended_item p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 26px;
  color: #a9a9a9;
}
header nav ul .chairs .recomend_product_container .recomended_item_price {
  margin: 30px 25px;
  color: #0b3954;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
header nav ul .chairs .recomend_product_container img {
  position: absolute;
  bottom: clamp(10px, 3vh, 30px);
  right: -70px;
  width: clamp(150px, 15vw, 200px);
  height: clamp(150px, 15vw, 200px);
}
header nav ul .chairs:hover .hover_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: topAnimation 0.3s linear;
  opacity: 1;
  visibility: visible;
}
header nav ul .beds {
  position: relative;
  border: none;
}
header nav ul .beds .hover_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 79.5px;
  left: 0px;
  width: clamp(300px, 47vw, 700px);
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul .beds .hover_container .hover_container_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 25px 20px;
}
header nav ul .beds .hover_container .hover_container_sections .item_hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
  padding-bottom: clamp(10px, 2vw, 20px);
}
header nav ul .beds .hover_container .hover_container_sections .item_hover a {
  text-transform: uppercase;
  color: #0b3954;
}
header nav ul .beds .hover_container .hover_container_sections .item_hover i {
  color: #f5f5f5;
}
header nav ul .beds .hover_container .hover_container_sections .item_hover:hover a {
  color: #ffb128;
}
header nav ul .beds .hover_container .hover_container_sections .item_hover:hover i {
  color: #ffb128;
}
header nav ul .beds .recomend_product_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100%;
  background-color: #ffb128;
  border-bottom-right-radius: 16px;
}
header nav ul .beds .recomend_product_container .we_recomended {
  margin: 30px 0px 25px 25px;
  color: #1389bc;
  font-size: 14px;
  line-height: 18px;
}
header nav ul .beds .recomend_product_container .recomended_item {
  width: 75%;
  margin-left: 25px;
}
header nav ul .beds .recomend_product_container .recomended_item h2 {
  color: #0b3954;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 26px;
  font-weight: 500;
}
header nav ul .beds .recomend_product_container .recomended_item p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 26px;
  color: #a9a9a9;
}
header nav ul .beds .recomend_product_container .recomended_item_price {
  margin: 30px 25px;
  color: #0b3954;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
header nav ul .beds .recomend_product_container img {
  position: absolute;
  bottom: clamp(10px, 2vw, 30px);
  right: -100px;
  width: clamp(150px, 30vw, 350px);
  height: 130px;
}
header nav ul .beds:hover .hover_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: topAnimation 0.3s linear;
  opacity: 1;
  visibility: visible;
}
header nav ul .tables {
  position: relative;
  border: none;
}
header nav ul .tables .hover_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 79.5px;
  left: 0px;
  width: clamp(300px, 47vw, 700px);
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul .tables .hover_container .hover_container_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 25px 20px;
}
header nav ul .tables .hover_container .hover_container_sections .item_hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
  padding-bottom: clamp(10px, 2vw, 20px);
}
header nav ul .tables .hover_container .hover_container_sections .item_hover a {
  text-transform: uppercase;
  color: #0b3954;
}
header nav ul .tables .hover_container .hover_container_sections .item_hover i {
  color: #f5f5f5;
}
header nav ul .tables .hover_container .hover_container_sections .item_hover:hover a {
  color: #ffb128;
}
header nav ul .tables .hover_container .hover_container_sections .item_hover:hover i {
  color: #ffb128;
}
header nav ul .tables .recomend_product_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100%;
  background-color: #ffb128;
  border-bottom-right-radius: 16px;
}
header nav ul .tables .recomend_product_container .we_recomended {
  margin: 30px 0px 25px 25px;
  color: #1389bc;
  font-size: 14px;
  line-height: 18px;
}
header nav ul .tables .recomend_product_container .recomended_item {
  width: 75%;
  margin-left: 25px;
}
header nav ul .tables .recomend_product_container .recomended_item h2 {
  color: #0b3954;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 26px;
  font-weight: 500;
}
header nav ul .tables .recomend_product_container .recomended_item p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 26px;
  color: #a9a9a9;
}
header nav ul .tables .recomend_product_container .recomended_item_price {
  margin: 30px 25px;
  color: #0b3954;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
header nav ul .tables .recomend_product_container img {
  position: absolute;
  bottom: 30px;
  right: -95px;
  width: 200px;
  height: 150px;
}
header nav ul .tables:hover .hover_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: topAnimation 0.3s linear;
  opacity: 1;
  visibility: visible;
}
header nav ul .desks {
  position: relative;
  border: none;
}
header nav ul .desks .hover_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 79.5px;
  left: 0px;
  width: clamp(300px, 47vw, 700px);
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul .desks .hover_container .hover_container_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 25px 20px;
}
header nav ul .desks .hover_container .hover_container_sections .item_hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
  padding-bottom: clamp(10px, 2vw, 20px);
  padding-left: 10px;
  padding-right: 10px;
}
header nav ul .desks .hover_container .hover_container_sections .item_hover a {
  text-transform: uppercase;
  color: #0b3954;
}
header nav ul .desks .hover_container .hover_container_sections .item_hover i {
  color: #f5f5f5;
}
header nav ul .desks .hover_container .hover_container_sections .item_hover:hover a {
  color: #ffb128;
}
header nav ul .desks .hover_container .hover_container_sections .item_hover:hover i {
  color: #ffb128;
}
header nav ul .desks .recomend_product_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100%;
  background-color: #ffb128;
  border-bottom-right-radius: 16px;
}
header nav ul .desks .recomend_product_container .we_recomended {
  margin: 30px 0px 25px 25px;
  color: #1389bc;
  font-size: 14px;
  line-height: 18px;
}
header nav ul .desks .recomend_product_container .recomended_item {
  width: 75%;
  margin-left: 25px;
}
header nav ul .desks .recomend_product_container .recomended_item h2 {
  color: #0b3954;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 26px;
  font-weight: 500;
}
header nav ul .desks .recomend_product_container .recomended_item p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 26px;
  color: #a9a9a9;
}
header nav ul .desks .recomend_product_container .recomended_item_price {
  margin: 30px 25px;
  color: #0b3954;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
header nav ul .desks .recomend_product_container img {
  position: absolute;
  bottom: 30px;
  right: -90px;
  width: clamp(170px, 15vw, 220px);
  height: clamp(90px, 10vh, 100px);
}
header nav ul .desks:hover .hover_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: topAnimation 0.3s linear;
  opacity: 1;
  visibility: visible;
}
header nav ul .cabinets {
  position: relative;
  border: none;
}
header nav ul .cabinets .hover_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 79.5px;
  right: 0px;
  width: clamp(300px, 47vw, 700px);
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul .cabinets .hover_container .hover_container_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 25px 20px;
}
header nav ul .cabinets .hover_container .hover_container_sections .item_hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
  padding-bottom: clamp(10px, 2vw, 20px);
}
header nav ul .cabinets .hover_container .hover_container_sections .item_hover a {
  text-transform: uppercase;
  color: #0b3954;
}
header nav ul .cabinets .hover_container .hover_container_sections .item_hover i {
  color: #f5f5f5;
}
header nav ul .cabinets .hover_container .hover_container_sections .item_hover:hover a {
  color: #ffb128;
}
header nav ul .cabinets .hover_container .hover_container_sections .item_hover:hover i {
  color: #ffb128;
}
header nav ul .cabinets .recomend_product_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100%;
  background-color: #ffb128;
  border-bottom-right-radius: 16px;
}
header nav ul .cabinets .recomend_product_container .we_recomended {
  margin: 30px 0px 25px 25px;
  color: #1389bc;
  font-size: 14px;
  line-height: 18px;
}
header nav ul .cabinets .recomend_product_container .recomended_item {
  width: 75%;
  margin-left: 25px;
}
header nav ul .cabinets .recomend_product_container .recomended_item h2 {
  color: #0b3954;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 26px;
  font-weight: 500;
}
header nav ul .cabinets .recomend_product_container .recomended_item p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 26px;
  color: #a9a9a9;
}
header nav ul .cabinets .recomend_product_container .recomended_item_price {
  margin: 30px 25px;
  color: #0b3954;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
header nav ul .cabinets .recomend_product_container img {
  position: absolute;
  bottom: 30px;
  right: -92px;
  width: clamp(150px, 15vw, 200px);
  height: clamp(100px, 10vh, 150px);
}
header nav ul .cabinets:hover .hover_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: topAnimation 0.3s linear;
  opacity: 1;
  visibility: visible;
}
header nav ul .lighting {
  position: relative;
  border: none;
}
header nav ul .lighting .hover_container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 79.5px;
  right: 0px;
  width: clamp(300px, 47vw, 700px);
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul .lighting .hover_container .hover_container_sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 25px 20px;
}
header nav ul .lighting .hover_container .hover_container_sections .item_hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  padding: clamp(10px, 4vw, 15px) clamp(5px, 4vw, 10px);
  padding-bottom: clamp(10px, 2vw, 20px);
}
header nav ul .lighting .hover_container .hover_container_sections .item_hover a {
  text-transform: uppercase;
  color: #0b3954;
}
header nav ul .lighting .hover_container .hover_container_sections .item_hover i {
  color: #f5f5f5;
}
header nav ul .lighting .hover_container .hover_container_sections .item_hover:hover a {
  color: #ffb128;
}
header nav ul .lighting .hover_container .hover_container_sections .item_hover:hover i {
  color: #ffb128;
}
header nav ul .lighting .recomend_product_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100%;
  background-color: #ffb128;
  border-bottom-right-radius: 16px;
}
header nav ul .lighting .recomend_product_container .we_recomended {
  margin: 30px 0px 25px 25px;
  color: #1389bc;
  font-size: 14px;
  line-height: 18px;
}
header nav ul .lighting .recomend_product_container .recomended_item {
  width: 75%;
  margin-left: 25px;
}
header nav ul .lighting .recomend_product_container .recomended_item h2 {
  color: #0b3954;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 26px;
  font-weight: 500;
}
header nav ul .lighting .recomend_product_container .recomended_item p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 26px;
  color: #a9a9a9;
}
header nav ul .lighting .recomend_product_container .recomended_item_price {
  margin: 30px 25px;
  color: #0b3954;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
header nav ul .lighting .recomend_product_container img {
  position: absolute;
  bottom: 30px;
  right: -90px;
  width: 210px;
  height: 150px;
}
header nav ul .lighting:hover .hover_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: topAnimation 0.3s linear;
  opacity: 1;
  visibility: visible;
}
header nav ul .sales {
  padding-top: 15px;
  padding-bottom: 10px;
  gap: 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  background-color: #ffb128;
}
header nav ul .sales img {
  width: 23px;
  height: 20px;
}
header nav ul .sales a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
header nav ul .sales:hover {
  background-color: #0b3954;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1440px) {
  header nav ul .chairs .hover_container .hover_container_sections .item_hover a {
    font-size: 12px;
  }
  header nav ul .beds .hover_container .hover_container_sections .item_hover a {
    font-size: 12px;
  }
  header nav ul .beds .hover_container .recomend_product_container img {
    right: -150px;
    height: 120px;
  }
  header nav ul .tables .hover_container .hover_container_sections .item_hover a {
    font-size: 12px;
  }
  header nav ul .desks .hover_container .hover_container_sections .item_hover a {
    font-size: 12px;
  }
  header nav ul .cabinets .hover_container .hover_container_sections .item_hover a {
    font-size: 12px;
  }
  header nav ul .lighting .hover_container .hover_container_sections .item_hover a {
    font-size: 12px;
  }
}
@media screen and (max-width: 960px) {
  header {
    position: fixed;
    top: 0px;
  }
  header .header_container .search_container {
    margin: 0 5px;
  }
  header .header_container .user_container #burger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  header nav ul {
    display: none;
  }
  header nav ul.active {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 99;
    position: absolute;
    flex-direction: column;
    background-color: #ffffff;
    width: 200px;
    animation: animateMenu 0.5s linear;
    height: 100vh;
    top: 0px;
    right: 0px;
    padding-top: 50px;
  }
  header nav ul.active #close_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  header nav ul.active #close_button i {
    font-size: 14px;
    color: #a9a9a9;
    transition: color 0.4s ease-in-out, transform 0.4s ease-in-out, scale 0.4s ease-in-out;
  }
  header nav ul.active #close_button i:hover {
    color: #0b3954;
    transform: rotate(180deg) scale(1.4);
  }
  header nav ul.active li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    border: none;
  }
  header nav ul.active li span .fa-arrow-down {
    display: none;
  }
  header nav ul.active .chairs .hover_container,
  header nav ul.active .beds .hover_container,
  header nav ul.active .tables .hover_container,
  header nav ul.active .desks .hover_container,
  header nav ul.active .cabinets .hover_container,
  header nav ul.active .lighting .hover_container {
    display: none;
  }
  header nav ul.active .sales {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0px;
  }
  header .header_container .search_container {
    display: none;
  }
  header .header_container .search_container.active_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 40px;
  }
  header .header_container .search_container.active_search #close_search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    cursor: pointer;
  }
  header .header_container .search_container.active_search #close_search_button i {
    font-size: 14px;
    color: #a9a9a9;
    transition: color 0.4s ease-in-out, transform 0.4s ease-in-out, scale 0.4s ease-in-out;
  }
  header .header_container .search_container.active_search #close_search_button i:hover {
    color: #0b3954;
    transform: rotate(180deg) scale(1.4);
  }
  header .header_container .user_container #cart_container {
    display: none;
  }
  header .header_container .user_container #user_balance {
    display: none;
  }
  header .header_container .user_container #favorite_items {
    display: none;
  }
  header .header_container .user_container #user {
    display: none;
  }
  header .header_container .user_container #res_search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=header.css.map */