@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$white: #ffffff;
$azure: #0b3954;
$grey: #333333;
$light_grey: #f5f5f5;
$orange: #ffb128;

main {
  @include displayCenter(center, center);
  flex-direction: column;
  width: 100vw;
  background-color: $light_grey;
}
