@font-face {
  font-family: "Poppins Light";
  src: url(../../assets/font/Poppins-Light.ttf) format("woff2");
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../../assets/font/Poppins-Medium.ttf) format("woff2");
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f5f5f5;
  font-family: "Poppins Light";
}
main .wrapper_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: clamp(19px, 1vh, 30px) auto;
}
main .wrapper_container .wrapper_background {
  position: absolute;
  top: 0px;
  width: clamp(700px, 90vw, 1728px);
  height: clamp(450px, 89%, 670px);
  border-radius: 32px;
  background-color: #0b3954;
}
main .wrapper_container .wrapper_image_conatiner {
  position: relative;
  margin: 38px auto;
  width: 95vw;
  max-width: 1178px;
  height: 95vh;
  max-height: 669.47px;
  border-radius: 32px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_image {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-image: url("../../assets/wrapper.svg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, scale 0.3s ease-in-out;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover {
  scale: 1.2;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover .rs_wrap_layer {
  width: 70px;
  height: 70px;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover .rs_wrap_layer .rs_wrap_layer_border {
  width: 46px;
  height: 46px;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(1) {
  position: absolute;
  bottom: 124.28px;
  right: 604.17px;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(2) {
  position: absolute;
  top: 278px;
  right: 297px;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(3) {
  position: absolute;
  bottom: 163.48px;
  right: 124px;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.33px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1490196078);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  cursor: pointer;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer .rs_wrap_layer_border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.33px solid rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  cursor: pointer;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer .rs_wrap_layer_border .rs_wrap_layer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffb128;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info {
  position: absolute;
  top: 0px;
  left: 0px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info p {
  margin: 52px 0px 5px 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #ffffff;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info h1 {
  margin: 0px 50px;
  width: clamp(233px, 30vw, 380px);
  font-family: "Poppins Medium";
  font-weight: 700;
  font-size: clamp(35px, 10vw, 64px);
  line-height: clamp(38px, 10vw, 72px);
  letter-spacing: 0%;
  color: #ffffff;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: clamp(6px, 4vw, 27.91px);
  margin: 30px 0px 5px 50px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .go_shop {
  width: clamp(129px, 31vw, 152px);
  padding: 11px 30px;
  border-radius: 45px;
  background-color: #ffb128;
  border: none;
  font-weight: 600;
  font-size: clamp(10px, 3vw, 14px);
  line-height: clamp(10px, 3vw, 21px);
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .go_shop:hover {
  background-color: #ffffff;
  color: #ffb128;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .collections {
  width: clamp(129.03px, 31vw, 184.64px);
  padding: 11px 30px 11px 30px;
  border-radius: 45px;
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: clamp(10px, 2vw, 14px);
  line-height: clamp(10px, 4vw, 21px);
  letter-spacing: 0%;
  color: #ffb128;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .collections:hover {
  background-color: #ffb128;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  main .wrapper_container .wrapper_background {
    display: none;
  }
  main .wrapper_container .wrapper_image_conatiner {
    margin: 0px auto;
    width: clamp(351px, 90vw, 691px);
    height: clamp(365.39px, 90vw, 719.34px);
  }
}
@media screen and (max-width: 740px) {
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, scale 0.3s ease-in-out;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover {
    scale: 1.2;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover .rs_wrap_layer {
    width: 35px;
    height: 35px;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover .rs_wrap_layer .rs_wrap_layer_border {
    width: 23.33px;
    height: 23.33px;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(1) {
    top: 74%;
    right: 93%;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(2) {
    top: 44%;
    left: 48%;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(3) {
    top: 71%;
    left: 74%;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer .rs_wrap_layer_border {
    width: 12px;
    height: 12px;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer .rs_wrap_layer_border .rs_wrap_layer_btn {
    width: 12px;
    height: 12px;
    font-size: 10px;
  }
  main .wrapper_container .wrapper_image_conatiner .wrapper_info p {
    margin: 20px 0px 5px 21px;
  }
  main .wrapper_container .wrapper_image_conatiner .wrapper_info h1 {
    margin: 0px 21px;
  }
  main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons {
    margin: 0 21px;
  }
  main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .go_shop {
    padding: 10px 20px;
  }
  main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .collections {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 450px) {
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(1) {
    top: 74%;
    right: 91%;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(2) {
    top: 43%;
    left: 46%;
  }
  main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:nth-child(3) {
    top: 69%;
    left: 73%;
  }
}/*# sourceMappingURL=main.css.map */