@font-face {
  font-family: "Poppins Light";
  src: url(../../assets/font/Poppins-Light.ttf) format("woff2");
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../../assets/font/Poppins-Medium.ttf) format("woff2");
}
@keyframes progresiveWidth {
  0% {
    width: 24px;
    height: 24px;
  }
  100% {
    width: 70px;
    height: 70px;
  }
}
@keyframes progresiveSecondWidth {
  0% {
    width: 24px;
    height: 24px;
  }
  100% {
    width: 46.67px;
    height: 46.67px;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f5f5f5;
  overflow: hidden;
  font-family: "Poppins Light";
}
main .wrapper_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px auto;
  width: 90%;
  max-width: 1728px;
  height: 670px;
  border-radius: 32px;
  background-color: #0b3954;
}
main .wrapper_container .wrapper_image_conatiner {
  position: absolute;
  top: 38px;
  width: 1178px;
  height: 669.47px;
  border-radius: 32px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_image {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_image img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info {
  position: absolute;
  top: 0px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info p {
  margin: 52px 0px 5px 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #ffffff;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info h1 {
  margin: 0px 50px;
  width: 380px;
  font-family: "Poppins Medium";
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0%;
  color: #ffffff;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 27.91px;
  margin: 30px 0px 5px 50px;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .go_shop {
  width: 152px;
  padding: 11px 30px 11px 30px;
  border-radius: 45px;
  background-color: #ffb128;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .go_shop:hover {
  background-color: #ffffff;
  color: #ffb128;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .collections {
  width: 184.64px;
  padding: 11px 30px 11px 30px;
  border-radius: 45px;
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #ffb128;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
main .wrapper_container .wrapper_image_conatiner .wrapper_info .wrapper_buttons .collections:hover {
  background-color: #ffb128;
  color: #ffffff;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers {
  position: absolute;
  top: 100px;
  right: 150px;
  width: -moz-max-content;
  width: max-content;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, scale 0.3s ease-in-out;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover {
  scale: 1.1;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover .rs_wrap_layer {
  animation: progresiveWidth 0.5s linear forwards;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap:hover .rs_wrap_layer_border {
  animation: progresiveSecondWidth 0.2s linear forwards;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.33px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1490196078);
  cursor: pointer;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer .rs_wrap_layer_border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.33px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
main .wrapper_container .wrapper_image_conatiner .rs_wrapper_layers .rs_wrap .rs_wrap_layer .rs_wrap_layer_border .rs_wrap_layer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffb128;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */