@font-face {
  font-family: "Poppins Light";
  src: url(../../../assets/font/Poppins-Light.ttf) format("woff2");
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../../../assets/font/Poppins-Medium.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@keyframes visibilityAnimation {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

$white: #ffffff;
$azure: #0b3954;
$grey: #333333;
$light_grey: #f5f5f5;
$orange: #ffb128;
$transparent_grey: #ffffff26;
$transparent_grey_border: #ffffff33;

main {
  .wrapper_container {
    @include displayCenter(center, center);
    position: relative;
    width: 100%;
    margin: clamp(19px, 1vh, 30px) auto;
    .wrapper_background {
      position: absolute;
      top: 0px;
      width: clamp(700px, 90vw, 1728px);
      height: clamp(450px, 89%, 670px);
      border-radius: 32px;
      background-color: $azure;
    }
    .wrapper_image_conatiner {
      position: relative;
      margin: 38px auto;
      width: 95vw;
      max-width: 1178px;
      height: 95vh;
      max-height: 669.47px;
      border-radius: 32px;
      .wrapper_image {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        background-image: url("../../../assets/wrapper.svg");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .rs_wrapper_layers {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        .rs_wrap {
          @include displayCenter(center, center);
          width: 70px;
          height: 70px;
          transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
            scale 0.3s ease-in-out, visibility 0.5s ease-in-out;
          &:hover {
            scale: 1.2;
            .rs_wrap_layer {
              width: 70px;
              height: 70px;
              .rs_wrap_layer_border {
                width: 46px;
                height: 46px;
              }
            }
          }
          &:nth-child(1) {
            position: absolute;
            bottom: 124.28px;
            right: 604.17px;
            .hover_cart_item {
              visibility: hidden;
              position: absolute;
              right: -200px;
              width: 190px;
              height: 200px;
              border-radius: 16px;
              padding: 10px;
              background-color: $light_grey;
              cursor: pointer;
              .hover_cart_image {
                width: 135px;
                height: 125px;
                border-radius: 16px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 16px;
                }
              }
              p {
                font-size: 14px;
                color: $azure;
              }
              .item_price {
                font-weight: 600;
              }
            }
            &:hover {
              .hover_cart_item {
                @include displayCenter(center, center);
                flex-direction: column;
                animation: visibilityAnimation linear forwards;
                animation-delay: 0.5s;
              }
            }
          }

          &:nth-child(2) {
            position: absolute;
            top: 278px;
            right: 297px;
            .hover_cart_item {
              visibility: hidden;
              position: absolute;
              right: -200px;
              width: 190px;
              height: 200px;
              border-radius: 16px;
              padding: 10px;
              background-color: $light_grey;
              cursor: pointer;
              .hover_cart_image {
                width: 145px;
                height: 70px;
                border-radius: 16px;
                margin-bottom: 20px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 16px;
                }
              }
              p {
                font-size: 14px;
                color: $azure;
              }
              .item_price {
                font-weight: 600;
              }
            }
            &:hover {
              .hover_cart_item {
                @include displayCenter(flex-end, center);
                flex-direction: column;
                animation: visibilityAnimation linear forwards;
                animation-delay: 0.5s;
              }
            }
          }

          &:nth-child(3) {
            position: absolute;
            bottom: 163.48px;
            right: 124px;
            .hover_cart_item {
              visibility: hidden;
              position: absolute;
              left: -200px;
              width: 190px;
              height: 200px;
              border-radius: 16px;
              padding: 10px;
              background-color: $light_grey;
              cursor: pointer;
              .hover_cart_image {
                width: 110px;
                height: 120px;
                border-radius: 16px;
                margin-bottom: 10px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 16px;
                }
              }
              p {
                font-size: 14px;
                color: $azure;
              }
              .item_price {
                font-weight: 600;
              }
            }
            &:hover {
              .hover_cart_item {
                @include displayCenter(center, center);
                flex-direction: column;
                animation: visibilityAnimation linear forwards;
                animation-delay: 0.5s;
              }
            }
          }

          .rs_wrap_layer {
            @include displayCenter(center, center);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 0.33px solid $transparent_grey_border;
            background-color: $transparent_grey;
            transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
            cursor: pointer;
            .rs_wrap_layer_border {
              @include displayCenter(center, center);
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 0.33px solid $transparent_grey_border;
              transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
              cursor: pointer;
              .rs_wrap_layer_btn {
                @include displayCenter(center, center);
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $orange;
                border: none;
                color: $white;
                font-size: 14px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .wrapper_info {
        position: absolute;
        top: 0px;
        left: 0px;
        p {
          margin: 52px 0px 5px 50px;
          font-weight: 600;
          font-size: 12px;
          line-height: 25px;
          letter-spacing: 0%;
          color: $white;
        }
        h1 {
          margin: 0px 50px;
          width: clamp(233px, 30vw, 380px);
          font-family: "Poppins Medium";
          font-weight: 700;
          font-size: clamp(35px, 8vw, 64px);
          line-height: clamp(38px, 8vw, 72px);
          letter-spacing: 0%;
          color: $white;
        }
        .wrapper_buttons {
          @include displayCenter(center, center);
          width: max-content;
          gap: clamp(6px, 4vw, 27.91px);
          margin: 30px 0px 5px 50px;
          .go_shop {
            width: clamp(129px, 20vw, 152px);
            padding: 11px 30px;
            border-radius: 45px;
            background-color: $orange;
            border: none;
            font-weight: 600;
            font-size: clamp(10px, 1vw, 14px);
            line-height: clamp(10px, 3vw, 21px);
            letter-spacing: 0%;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
            &:hover {
              background-color: $white;
              color: $orange;
            }
          }
          .collections {
            width: clamp(129.03px, 20vw, 184.64px);
            padding: 11px 30px 11px 30px;
            border-radius: 45px;
            background-color: $white;
            border: none;
            font-weight: 600;
            font-size: clamp(10px, 1vw, 14px);
            line-height: clamp(10px, 3vw, 21px);
            letter-spacing: 0%;
            color: $orange;
            cursor: pointer;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
            &:hover {
              background-color: $orange;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .wrapper_container {
      .wrapper_background {
        display: none;
      }
      .wrapper_image_conatiner {
        margin: 0px auto;
        width: clamp(351px, 90vw, 691px);
        height: clamp(365.39px, 90vw, 719.34px);
        .wrapper_info {
          .wrapper_buttons {
            margin: 0 21px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  main {
    .wrapper_container {
      .wrapper_image_conatiner {
        .rs_wrapper_layers {
          .rs_wrap {
            @include displayCenter(center, center);
            width: 35px;
            height: 35px;
            transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
              scale 0.3s ease-in-out;
            &:hover {
              scale: 1.2;
              .rs_wrap_layer {
                width: 35px;
                height: 35px;
                .rs_wrap_layer_border {
                  width: 23.33px;
                  height: 23.33px;
                }
              }
            }
            &:nth-child(1) {
              top: 74%;
              right: 93%;
              .hover_cart_item {
                right: -170px;
                width: 160px;
                height: 170px;
                padding: 5px;
                cursor: pointer;
                .hover_cart_image {
                  width: 115px;
                  height: 110px;
                }
                p {
                  font-size: 12px;
                  color: $azure;
                }
                .item_price {
                  font-weight: 500;
                }
              }
            }

            &:nth-child(2) {
              top: 44%;
              left: 48%;
              .hover_cart_item {
                right: -170px;
                width: 160px;
                height: 170px;
                padding: 5px;
                cursor: pointer;
                .hover_cart_image {
                  width: 120px;
                  height: 60px;
                  margin-bottom: 20px;
                }
                p {
                  font-size: 12px;
                  color: $azure;
                }
                .item_price {
                  font-weight: 500;
                }
              }
              &:hover {
                .hover_cart_item {
                  @include displayCenter(center, center);
                }
              }
            }

            &:nth-child(3) {
              top: 71%;
              left: 74%;
              .hover_cart_item {
                right: -170px;
                width: 160px;
                height: 170px;
                padding: 5px;
                cursor: pointer;
                .hover_cart_image {
                  width: 100px;
                  height: 100px;
                  margin-bottom: 5px;
                }
                p {
                  font-size: 12px;
                  color: $azure;
                }
                .item_price {
                  font-weight: 500;
                }
              }
            }
            .rs_wrap_layer {
              width: 14px;
              height: 14px;
              cursor: pointer;
              .rs_wrap_layer_border {
                width: 14px;
                height: 14px;
                .rs_wrap_layer_btn {
                  width: 14px;
                  height: 14px;
                  font-size: 10px;
                }
              }
            }
          }
        }
        .wrapper_info {
          p {
            margin: 20px 0px 5px 21px;
          }
          h1 {
            margin: 0px 21px;
          }
          .wrapper_buttons {
            .go_shop {
              padding: 10px 20px;
            }
            .collections {
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  main {
    .wrapper_container {
      .wrapper_image_conatiner {
        .rs_wrapper_layers {
          .rs_wrap {
            &:nth-child(1) {
              .hover_cart_item {
                right: -90px;
                width: 80px;
                height: 90px;
                padding: 5px;
                cursor: pointer;
                .hover_cart_image {
                  width: 55px;
                  height: 60px;
                }
                p {
                    font-size: 10px;
                    color: $azure;
                  }
              }
            }

            &:nth-child(2) {
              .hover_cart_item {
                bottom: -55px;
                right: -90px;
                width: 80px;
                height: 90px;
                padding: 5px;
                cursor: pointer;
                .hover_cart_image {
                  width: 60px;
                  height: 30px;
                  margin-bottom: 5px;
                }
                p {
                  font-size: 10px;
                  color: $azure;
                }
              }
            }

            &:nth-child(3) {
              .hover_cart_item {
                left: -90px;
                width: 80px;
                height: 90px;
                padding: 5px;
                cursor: pointer;
                .hover_cart_image {
                  width: 50px;
                  height: 50px;
                }
                p {
                  font-size: 8px;
                  color: $azure;
                }
              }
            }
          }
        }
        .wrapper_info {
          p {
            margin: 20px 0px 5px 21px;
          }
          h1 {
            margin: 0px 21px;
          }
          .wrapper_buttons {
            .go_shop {
              padding: 10px 20px;
            }
            .collections {
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    .wrapper_container {
      .wrapper_image_conatiner {
        .rs_wrapper_layers {
          .rs_wrap {
            &:nth-child(1) {
              top: 74%;
              right: 91%;
            }

            &:nth-child(2) {
              top: 43%;
              left: 46%;
            }

            &:nth-child(3) {
              top: 69%;
              left: 73%;
            }
          }
        }
      }
    }
  }
}
